.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 3px 6px -6px var(--light-highlight1);
    padding: 1rem;
    max-width: 1200px;
    position: fixed;
    top: 0;
}

a {
    text-decoration: none;
}

.nav__list-item {
    margin-left: 1.8em;
    font-weight: 500;
    color: var(--light-text-gray);
    cursor: pointer;
    border-bottom: transparent solid;
    transition: 0.4s ease;

    &:hover {
        border-bottom: var(--light-highlight1) solid;
        color: var(--light-highlight1);
    }
}

.nav__list-item:nth-child(5) {
    margin-right: 2rem;
}

.nav__list-btn {
    cursor: pointer;
    font-weight: 500;
}

.nav-title {
    color: var(--light-navtitle);
    font-weight: 800;
    border-bottom: transparent solid;
    transition: 0.4s ease;

    &:hover {
        border-bottom: var(--light-navtitle) solid;
    }
}

@media screen and (max-width: 500px) {
    .nav__list-item {
        margin-left: 0.3rem;
        scale: 0.9;
    }
    .nav__list-item:nth-child(5) {
        margin-right: 1rem;
    }
}